@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.intro-section {
    background-color: $white-color;
    width: 100%;
    height: 550px;
    position: relative;
    z-index: 0;
    padding: 40px;

    @include respond-to("small") {
        padding: 40px 4%;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: $dark-background;
        clip-path: polygon(0 0, 100% 0, 100% 20%, 0 100%);

        @include respond-to("mobile") {
            clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
        }
    }

    &::before {
        background-color: $light-background;
        width: 35%;
        height: 25%;
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);

        @include respond-to("big-tablet") {
            width: 150px;
            height: 75px;
        }

        @include respond-to("tablet") {
            width: 100px;
            height: 50px;
        }
    }

    &__bottom-box {
        background-color: $light-background;
        width: 60%;
        height: 55%;
        top: 90px;
        position: absolute;
        right: 0px;
        z-index: 100;
        clip-path: polygon(0% 87%, 100% 0, 100% 13%, 0 100%);

        @include respond-to("mobile") {
            height: 110px;
            top: 380px;
            clip-path: polygon(0% 90%, 100% 0, 100% 10%, 0 100%);
        }
    }

    &__content {
        width: 100%;
        height: 100%;
        display: flex;

        @include respond-to("small") {
            flex-direction: column;
        }

        @include respond-to("tablet") {
            padding: 0px;
        }

        .profile {
            width: 23%;
            height: 95%;
            background: #f7d8fe;
            clip-path: polygon(0 0, 100% 0, 100% 79%, 0 100%);
            overflow: hidden;

            @include respond-to("small") {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                order: 2;
            }

            @include respond-to("big-tablet") {
                height: 150px;
            }

            @include respond-to("tablet") {
                width: 150px;
                height: 150px;
            }

            @include respond-to("mobile") {
                width: 200px;
                height: 150px;
                margin: 0 auto;
            }
            img{
                //width: 100%;
                height: 100%;
                @include respond-to("small") {
                    width: 100%;
                    height: auto;
                }
                @include respond-to("small") {
                   margin-top: -30px;
                }
            }
        }

        .bio {
            padding: 60px 10px 10px 50px;

            @include respond-to("small") {
                order: 1;
                margin-left: 16%;
                padding: 30px 10px 10px 40px;
            }

            @include respond-to("big-tablet") {
                padding: 10px 10px 30px 0px;
            }

            @include respond-to("tablet") {
                padding: 50px 0 20px 0;
                margin-left: 0;
            }

            @include respond-to("mobile") {
                text-align: center;
            }

            hr {
                background-color: $light-background;
                width: 100px;
                margin: 3px 0;
                height: 2px;

                @include respond-to("mobile") {
                    margin: 3px auto;
                }
            }

            &__contact {
                display: flex;
                align-items: center;

                @include respond-to("mobile") {
                    flex-direction: column;
                }

                &__item {
                    display: flex;
                    align-items: flex-end;

                    @include respond-to("mobile") {
                        margin-left: 0 !important;
                        margin-bottom: 10px;
                    }
                }

                .contact-icon {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: linear-gradient(180deg, #D090E0 0%, #7F7FF7 100%);
                    font-size: 12px;
                    color: $dark-background;
                }
            }
        }
    }

    .social-medias {
        position: absolute;
        right: 40px;
        top: 15px;

        @include respond-to("big-tablet") {
            right: 4%;
        }

        a {
            cursor: pointer;
            margin-left: 15px;

            img {
                width: 25px;
                transition: 1s ease;

                &:hover {
                    transform: rotate(45deg);
                }
            }
        }
    }
}