@import "../../../assets/styles/variables";

.achievement {
    display: flex;
    align-items: baseline;

    img {
        margin-right: 7px;
        width: 10px;
    }

    p {
        color: $white-color;
        margin-bottom: 5px;
    }
}