@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.landing-page{
    .download-resume{
        width: 150px;
        height: 35px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: $light-background;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0px;
        top: 300px;
        padding-top: 2px;
        color: $white-color;
        font-size: 14px;
        z-index: 2;
        @include respond-to("big-tablet") {
            display: none;
        }
        &:hover{
            text-decoration: none;
            background-color: #f7d8fe;
        }

    }
}
