@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.experiences {
    ul {
        padding-left: 30px;
        @include respond-to("mobile") {
            padding-left: 20px;
        }
        li {
            color: $dark-background;
            list-style: none;
            &::before {
                content: "\2022";
                color: $light-background;
                font-weight: bold;
                display: inline-block;
                width: 1em;
                height: 3px;
                margin-left: -1em;
            }
        }
    }
}