// bootsstrap library
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css');

//set custom fonts
@font-face {
    font-family: 'Calibre';
    src: url('../fonts/Calibre-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: "Calibre";
    box-sizing: border-box;
}

//set body properties
body{
  margin: auto;
  padding: 0px;
  max-width: 1600px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  outline: none;
  cursor: pointer;
}
